.ui.card:hover, .ui.cards>.card:hover {
    background-color: #ccd18c
}

#home-card-one {
    padding: 20px;
    text-align: center;
}

#home-card-two {
    padding: 20px;
    text-align: center;
}

#home-card-three {
    padding: 20px;
    text-align: center;
}

#home-card-four {
    padding: 20px;
    text-align: center;
}

#home-link-one {
    display: grid;
    font-size: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
    row-gap: 15px;
}

#home-link-two {
    display: grid;
    font-size: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
    row-gap: 15px;
}

#home-link-three {
    display: grid;
    font-size: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
    row-gap: 15px;
}

#home-link-four {
    display: grid;
    font-size: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
    row-gap: 15px;
}